<div class="bg-neutral-50 self-center m-12 p-8 min-w-[500px] rounded-xl flex flex-col gap-4 justify-center shadow-xl">
    <div class="flex flex-col gap-1 text-center">
        <h2 class="text-primary-700 font-bold text-3xl">Welcome Back!</h2>
        <p class="text-primary-600">Sign in to continue.</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "flex flex-col gap-4"}) do |f| %>
      <div class="field flex flex-col gap-1">
          <%= f.label :email, class: "font-semibold text-primary-700"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "someone@gmail.com", class: "px-4 py-2 rounded-md outline-none border-[2px] border-neutral-900 focus:border-primary-700 duration-300" %>
      </div>

      <div class="field flex flex-col gap-1">
          <%= f.label :password, class: "font-semibold text-primary-700" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter a password", class: "px-4 py-2 rounded-md outline-none border-[2px] border-neutral-900 focus:border-primary-700 duration-300" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex items-center gap-2 cursor-pointer">
            <%= f.check_box :remember_me, class: "peer hidden", id: "remember_me_checkbox" %>
            <div class="size-4 border-2 border-gray-300 rounded-sm peer-checked:bg-primary-700 peer-checked:border-primary-700 transition-colors duration-300" onclick="document.getElementById('remember_me_checkbox').click()"></div>
            <%= f.label :remember_me, for: "remember_me_checkbox" %>
        </div>
      <% end %>
      
      <%= f.submit "Sign in", class: "btn-primary self-center"%>
    <% end %>

    <div class="w-full h-[1px] bg-neutral-300 my-4"></div>
    <div class="flex flex-col gap-4 items-center">
        <p class="text-primary-600 self-center">Already have an account?</p>
        <%= link_to "Sign up", new_user_registration_path, method: :get, class: "btn-secondary bg-red-500" %>
    </div>
</div>